.button2{
    a{
        padding: 5px;
        border: 2px solid rgb(79, 79, 250);
        color: rgb(155, 155, 155);
        border-radius: 5px;
        text-decoration: none;
        font-size: 10px;
    }
    a:hover{
        background-color: rgb(104, 104, 250);
        color: white;
    }
}